doc/book
*.vcf.gz
*.tbi
*.fq.gz
silico
target/
scripts/compare-exome/giab-*
baid2020
giab
data/exp_raw/varben
test
work
data/ref/GCA*
.nextflow.log*
silico
GCA*.fna
GCA*.fna.*
.nextflow*
work
# *.bam
# *.bai
*.mut
HG002.chr21-hiseq4000-agilent-50x.bam
HG002.chr21-hiseq4000-agilent-50x_nohardclip.bam
tests/test-*
*recal*bam*
output_tiddit
*.bam
*.bam.bai
