doc/book
data/exp_raw/*_simuscop.vcf.gz
data/exp_raw/*_varben.vcf.gz
*.sdf
clinvar.vcf.*
clinvar_agilent.vcf.*
HG002_GRCh38_1_22_v4.2.1_benchmark.vcf.*
# *.vcf.gz
# *.tbi
*.fq.gz
silico
target/
scripts/compare-exome/giab-*
baid2020
giab
data/exp_raw/varben
test
work
data/ref/GCA*
.nextflow.log*
silico
GCA*.fna
GCA*.fna.*
.nextflow*
work
# *.bam
# *.bai
*.mut
HG002.chr21-hiseq4000-agilent-50x.bam
HG002.chr21-hiseq4000-agilent-50x_nohardclip.bam
tests/test-*
*recal*bam*
output_tiddit
*.bam
*.bam.bai
*.fna.amb
*.fna.ann
*.fna.pac
*.fna.sa
*.fna.bwt
*.simuscop
*_simuscop.conf
*col6a1*.vcf*
dbsnp*col6a1*
tests/
*.roc.all*
*.roc.Locations*
*.metrics.json.gz
data/ref/HG*.vcf.gz*
data/ref/HG*.bed
data/exp_raw/dbsnp_*
data/exp_pro/HG*.vcf.*
data/exp_pro_old
data/sdf
