doc/book
data/exp_raw/*_simuscop.vcf.gz
data/exp_raw/*_varben.vcf.gz
*.sdf
clinvar.vcf.*
clinvar_agilent.vcf.*
HG002_GRCh38_1_22_v4.2.1_benchmark.vcf.*
# *.vcf.gz
# *.tbi
*.fq.gz
silico
target/
scripts/compare-exome/giab-*
baid2020
giab
data/exp_raw/varben
test
work
data/ref/GCA*
.nextflow.log*
silico
GCA*.fna
GCA*.fna.*
.nextflow*
work
# *.bam
# *.bai
*.mut
HG002.chr21-hiseq4000-agilent-50x.bam
HG002.chr21-hiseq4000-agilent-50x_nohardclip.bam
tests/test-*
*recal*bam*
output_tiddit
*.bam
*.bam.bai
*.fna.amb
*.fna.ann
*.fna.pac
*.fna.sa
*.fna.bwt
*.simuscop
*_simuscop.conf
*col6a1*.vcf*
dbsnp*col6a1*
*.roc.all*
*.roc.Locations*
*.metrics.json.gz
data/ref/HG*.vcf.gz*
data/ref/HG*.bed
data/exp_raw/dbsnp_*
# ...except the sampled ClinVar truth-variant selection for col6a1 simuscop: sample_clinvar()
# (src/silico.rs) reuses this file when present, so committing it pins which 2 ClinVar SNVs
# get inserted; regenerating it draws a new random pair via rand::rng() every time, which is
# what made the simuscop CI benchmark flaky (a freshly-drawn pair can land in a target too
# small to get stable simulated coverage).
!data/exp_raw/clinvar_agilent-col6a1.vcf.gz
!data/exp_raw/clinvar_agilent-col6a1.vcf.gz.tbi
data/exp_pro/HG*.vcf.*
data/exp_pro_old
data/sdf
tests/
