igenomes_base = ''
params {
	// Must be overidden
	dgenomes = '/Work/Groups/bisonex/dgenomes'
	genomes {
		'GRCh38' {
			bwa = "${params.dgenomes}/genome-human"
			dbsnp = "${params.dgenomes}/dbsnp/GCF_000001405.40_chr.gz"
			dbsnp_tbi = "${params.dgenomes}/dbsnp/GCF_000001405.40_chr.gz.tbi"
			dbsnp_vqsr = ""
			dict = ""
			fasta = "${params.dgenomes}/genome-human/GCA_000001405.15_GRCh38_full_analysis_set.fna"
			fasta_fai = "${params.dgenomes}/genome-human/GCA_000001405.15_GRCh38_full_analysis_set.fna.fai"
			germline_resource = ""
			germline_resource_tbi = ""
			known_snps = ""
			known_snps_tbi = ""
			known_snps_vqsr = ""
			known_indels = ""
			known_indels_tbi = ""
			known_indels_vqsr = ""
		}
	}
	genome = 'GRCh38'
	snpeff_db = ""
	snpeff_cache= ""
	vep_cache = ""
	vep_genome  = ""
}
