process {
    executor = 'slurm'
    queue = 'smp'
    withLabel:process_single {
        cpus          = 1
        memory        = 6.GB
        time          = 4.h
    }
    withLabel:process_low {
        cpus          = 4
        memory        = 12.GB
        time          = 4.h
    }
    withLabel:process_medium {
        cpus          = 12
        memory        = 32.GB
        time          = 8.h
    }
    withLabel:process_high {
        cpus          = 24
        memory        = 72.GB
        time          = 16.h
    }
}

